<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="<%= friend.twitter.profileBannerUrl %>" alt="nature">
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="/user/friendProfile?id=<%= friend.id %>"
                                            class="<%= action === "friendProfile" ? "active" : "" %>">Timeline</a>
                                    </li>
                                    <li>
                                        <a href="/user/friendProfileAbout?id=<%= friend.id %>"
                                            class="<%= action === "friendProfileAbout" ? "active" : "" %>">About</a>
                                    </li>
                                    <li>
                                        <a href="/user/friendsOfFriend?id=<%= friend.id %>"
                                            class="<%= action === "friendsOfFriend" ? "active" : "" %>">Friends</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="/user/friendPhotos?id=<%= friend.id %>"
                                            class="<%= action === "friendPhotos" ? "active" : "" %>">Photos</a>
                                    </li>
                                    <li>
                                        <a href="/user/friendVideos?id=<%= friend.id %>"
                                            class="<%= action === "friendPVideos" ? "active" : "" %>">Videos</a>
                                    </li>
                                    <li>
                                        <div class="more">
                                            <svg class="olymp-three-dots-icon">
                                                <use
                                                    xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
                                                </use>
                                            </svg>
                                            <ul class="more-dropdown more-with-triangle">
                                                <li>
                                                    <a href="#">Report Profile</a>
                                                </li>
                                                <li>
                                                    <a href="#">Block Profile</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="control-block-button">
                            <a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
                                <svg class="olymp-happy-face-icon">
                                    <use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                </svg>
                            </a>

                            <a href="#" class="btn btn-control bg-purple">
                                <svg class="olymp-chat---messages-icon">
                                    <use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
                                    </use>
                                </svg>
                            </a>


                        </div>
                    </div>
                    <div class="top-header-author">
                        <a href="/user/friendProfile?id=<%= friend.id %>" class="author-thumb">
                            <img src="<%= friend.image %>" alt="author" style="width: 100%;">
                            <input type="hidden" value="<%= friend.image%>" id="userImage" />
                        </a>
                        <div class="author-content">
                            <a href="/user/friendProfile?id=<%= friend.id %>"
                                class="h4 author-name"><%= friend.firstName %>
                                <%= friend.lastName %></a>
                            <div class="country"><%= friend.twitter.location%></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Top Header-Profile -->