<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="<%= user.twitter.profileBannerUrl %>" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/userProfile/profile"
											class="<%= action === "Profile" ? "active" : "" %>">Timeline</a>
									</li>
									<li>
										<a href="/userProfile/profileabout"
											class="<%= action === "ProfileAbout" ? "active" : "" %>">About</a>
									</li>
									<li>
										<a href="/userProfile/friends"
											class="<%= action === "Friends" ? "active" : "" %>">Friends</a>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/userProfile/photos"
											class="<%= action === "Photos" ? "active" : "" %>">Photos</a>
									</li>
									<li>
										<a href="/userProfile/videos"
											class="<%= action === "Videos" ? "active" : "" %>">Videos</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							<a href="javascript:;" class="btn btn-control bg-blue">
								<svg class="olymp-happy-face-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
								</svg>
							</a>

							<a href="javascript:;" class="btn btn-control bg-purple">
								<svg class="olymp-chat---messages-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
									</use>
								</svg>
							</a>

							<div class="btn btn-control bg-primary more">
								<svg class="olymp-settings-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
								</svg>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update
											Profile Photo</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header
											Photo</a>
									</li>
									<li>
										<a href="/userProfile/profilesettings">Account Settings</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="top-header-author">
						<a href="/userProfile/profile" class="author-thumb">
							<img src="<%= user.image %>" alt="author" style="width: 100%;">
							<input type="hidden" value="<%= user.image%>" id="userImage" />
						</a>
						<div class="author-content">
							<a href="/userProfile/profile" class="h4 author-name"><%= user.firstName %>
								<%= user.lastName %></a>
							<div class="country"><%= user.twitter.location%></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Top Header-Profile -->