<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="<%= user.twitter.profileBannerUrl %>" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/userProfile/profile"
											class="<%= action === "Profile" ? "active" : "" %>">Timeline</a>
									</li>
									<li>
										<a href="/userProfile/profileabout"
											class="<%= action === "ProfileAbout" ? "active" : "" %>">About</a>
									</li>
									<li>
										<a href="/userProfile/friends"
											class="<%= action === "Friends" ? "active" : "" %>">Friends</a>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/userProfile/photos"
											class="<%= action === "Photos" ? "active" : "" %>">Photos</a>
									</li>
									<li>
										<a href="/userProfile/videos"
											class="<%= action === "Videos" ? "active" : "" %>">Videos</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- <div class="control-block-button">
							<a href="javascript:;" class="btn btn-control bg-blue">
								<svg class="olymp-happy-face-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
								</svg>
							</a>

							<a href="javascript:;" class="btn btn-control bg-purple">
								<svg class="olymp-chat---messages-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
									</use>
								</svg>
							</a>

							<div class="btn btn-control bg-primary more">
								<svg class="olymp-settings-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
								</svg>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update
											Profile Photo</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header
											Photo</a>
									</li>
									<li>
										<a href="/userProfile/profilesettings">Account Settings</a>
									</li>
								</ul>
							</div>
						</div> -->
					</div>
					<div class="top-header-author">
						<a href="/userProfile/profile" class="author-thumb">
							<img src="<%= user.image %>" alt="author" style="width: 100%;">
							<input type="hidden" value="<%= user.image%>" id="userImage" />
						</a>
						<div class="author-content">
							<a href="/userProfile/profile" class="h4 author-name"><%= user.firstName %>
								<%= user.lastName %></a>
							<div class="country"><%= user.twitter.location%></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Top Header-Profile -->

<!-- Window-popup Update Header Photo -->
<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo"
	aria-hidden="true">
	<div class="modal-dialog window-popup update-header-photo" role="document">
		<div class="modal-content">
			<a href="javascript:;" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Update Header Photo</h6>
			</div>

			<div class="modal-body">
				<a href="javascript:;" class="upload-photo-item">
					<svg class="olymp-computer-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
					</svg>

					<h6>Upload Photo</h6>
					<span>Browse your computer.</span>
				</a>

				<a href="javascript:;" class="upload-photo-item" data-toggle="modal"
					data-target="#choose-from-my-photo">

					<svg class="olymp-photos-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
					</svg>

					<h6>Choose from My Photos</h6>
					<span>Choose from your uploaded photos</span>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- ... end Window-popup Update Header Photo -->


<!-- Window-popup Choose from my Photo -->
<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo"
	aria-hidden="true">
	<div class="modal-dialog window-popup choose-from-my-photo" role="document">

		<div class="modal-content">
			<a href="javascript:;" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>
			<div class="modal-header">
				<h6 class="title">Choose from My Photos</h6>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
							<svg class="olymp-photos-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
							</svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
							<svg class="olymp-albums-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-albums-icon"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>

			<div class="modal-body">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo1.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo2.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo3.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>

						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo4.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo5.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo6.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>

						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo7.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo8.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo9.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>


						<a href="javascript:;" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
						<a href="javascript:;" class="btn btn-primary btn-lg btn--half-width">Confirm Photo</a>

					</div>
					<div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">

						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo10.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">South America Vacations</a>
									<span>Last Added: 2 hours ago</span>
								</figcaption>
							</figure>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo11.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">Photoshoot Summer 2016</a>
									<span>Last Added: 5 weeks ago</span>
								</figcaption>
							</figure>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo12.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">Amazing Street Food</a>
									<span>Last Added: 6 mins ago</span>
								</figcaption>
							</figure>
						</div>

						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo13.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">Graffity & Street Art</a>
									<span>Last Added: 16 hours ago</span>
								</figcaption>
							</figure>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo14.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">Amazing Landscapes</a>
									<span>Last Added: 13 mins ago</span>
								</figcaption>
							</figure>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo15.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">The Majestic Canyon</a>
									<span>Last Added: 57 mins ago</span>
								</figcaption>
							</figure>
						</div>


						<a href="javascript:;" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
						<a href="javascript:;" class="btn btn-primary btn-lg disabled btn--half-width">Confirm
							Photo</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- ... end Window-popup Choose from my Photo -->