<!-- Header-BP -->
<script src="/public/js/user/getActiveFriends.js"></script>
<script src="/public/js/user/chatting.js"></script>

<header class="header" id="site-header">

	<div class="page-title">
		<h6 style="text-transform: uppercase;"><%= action%></h6>
	</div>

	<div class="header-content-wrapper">

		<div class="control-block">

			<div class="control-icon more has-items">
				<svg class="olymp-chat---messages-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
				</svg>
				<div class="label-avatar bg-purple" id="userChatCount" style="display: none;"></div>

				<div class="more-dropdown more-with-triangle triangle-top-center">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Chat / Messages</h6>
						<a href="#">Mark all as read</a>
						<a href="#">Settings</a>
					</div>

					<div class="mCustomScrollbar" data-mcs-theme="dark">
						<ul class="notification-list chat-message" id="userChatList">
						</ul>
					</div>

					<a href="/user/allchats" class="view-all bg-purple">View All Messages</a>
				</div>
			</div>

			<div class="control-icon more has-items">

				<svg class="olymp-thunder-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
				</svg>

				<div class="label-avatar bg-primary" id="notificationCount" style="display: none;">0</div>

				<div class="more-dropdown more-with-triangle triangle-top-center">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Notifications</h6>
						<a href="javascript:;" onclick="markedAsRead()">Mark all as read</a>
						<a href="javascript:;">Settings</a>
					</div>

					<div class="mCustomScrollbar" data-mcs-theme="dark">
						<ul class="notification-list" id="notificationList">
						</ul>
					</div>

					<a href="/user/allnotifications" class="view-all bg-primary">View All Notifications</a>
				</div>
			</div>

			<div class="author-page author vcard inline-items more">
				<div class="author-thumb">
					<img alt="<%= user.firstName%>" src="<%= user.image %>" class="avatar"
						style="width: 32px; height: 32px;">
					<span class="icon-status online"></span>
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Your Account</h6>
							</div>

							<ul class="account-settings">
								<li>
									<a href="/userProfile/profile">
										<svg class="olymp-menu-icon">
											<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
										</svg>
										<span>Profile</span>
									</a>
								</li>

								<li>
									<a href="/userProfile/profilesettings">
										<svg class="olymp-menu-icon">
											<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
										</svg>
										<span>Profile Settings</span>
									</a>
								</li>
								<li>
									<a href="/logout">
										<svg class="olymp-logout-icon">
											<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-logout-icon">
											</use>
										</svg>

										<span>Log Out</span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<a href="/userProfile/profile" class="author-name fn">
					<div class="author-title">
						<%= user.firstName %> <%= user.lastName %> <svg class="olymp-dropdown-arrow-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
						</svg>
					</div>
				</a>
			</div>

		</div>
	</div>

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<header class="header header-responsive" id="site-header-responsive">
	<div class="header-content-wrapper">
		<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#request" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-happy-face-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
						</svg>
						<div class="label-avatar bg-blue">6</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#chat" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-chat---messages-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
						</svg>
						<div class="label-avatar bg-purple">2</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#notification" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-thunder-icon">
							<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
						</svg>
						<div class="label-avatar bg-primary">8</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#search" role="tab">
					<svg class="olymp-magnifying-glass-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
					</svg>
					<svg class="olymp-close-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>

	<!-- Tab panes -->
	<div class="tab-content tab-content-responsive">

		<div class="tab-pane " id="request" role="tabpanel">

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">FRIEND REQUESTS</h6>
					<a href="#">Find Friends</a>
					<a href="#">Settings</a>
				</div>
				<ul class="notification-list friend-requests">
					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar55-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Tamara Romanoff</a>
							<span class="chat-message-item">Mutual Friend: Sarah Hetfield</span>
						</div>
						<span class="notification-icon">
							<a href="#" class="accept-request">
								<span class="icon-add without-text">
									<svg class="olymp-happy-face-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
										</use>
									</svg>
								</span>
							</a>

							<a href="#" class="accept-request request-del">
								<span class="icon-minus">
									<svg class="olymp-happy-face-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
										</use>
									</svg>
								</span>
							</a>

						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
						</div>
					</li>
					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar56-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Tony Stevens</a>
							<span class="chat-message-item">4 Friends in Common</span>
						</div>
						<span class="notification-icon">
							<a href="#" class="accept-request">
								<span class="icon-add without-text">
									<svg class="olymp-happy-face-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
										</use>
									</svg>
								</span>
							</a>

							<a href="#" class="accept-request request-del">
								<span class="icon-minus">
									<svg class="olymp-happy-face-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
										</use>
									</svg>
								</span>
							</a>

						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
						</div>
					</li>
					<li class="accepted">
						<div class="author-thumb">
							<img src="/public/img/avatar57-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							You and <a href="#" class="h6 notification-friend">Mary Jane Stark</a> just became friends.
							Write on <a href="#" class="notification-link">her wall</a>.
						</div>
						<span class="notification-icon">
							<svg class="olymp-happy-face-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
							</svg>
						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<svg class="olymp-little-delete">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
							</svg>
						</div>
					</li>
					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar58-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Stagg Clothing</a>
							<span class="chat-message-item">9 Friends in Common</span>
						</div>
						<span class="notification-icon">
							<a href="#" class="accept-request">
								<span class="icon-add without-text">
									<svg class="olymp-happy-face-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
										</use>
									</svg>
								</span>
							</a>

							<a href="#" class="accept-request request-del">
								<span class="icon-minus">
									<svg class="olymp-happy-face-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
										</use>
									</svg>
								</span>
							</a>

						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
						</div>
					</li>
				</ul>
				<a href="#" class="view-all bg-blue">Check all your Events</a>
			</div>

		</div>

		<div class="tab-pane " id="chat" role="tabpanel">

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Chat / Messages</h6>
					<a href="#">Mark all as read</a>
					<a href="#">Settings</a>
				</div>

				<ul class="notification-list chat-message">
					<li class="message-unread">
						<div class="author-thumb">
							<img src="/public/img/avatar59-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Diana Jameson</a>
							<span class="chat-message-item">Hi James! It’s Diana, I just wanted to let you know that we
								have to reschedule...</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">4 hours ago</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-chat---messages-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
							</svg>
						</span>
						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar60-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Jake Parker</a>
							<span class="chat-message-item">Great, I’ll see you tomorrow!.</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">4 hours ago</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-chat---messages-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
							</svg>
						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
						</div>
					</li>
					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar61-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Elaine Dreyfuss</a>
							<span class="chat-message-item">We’ll have to check that at the office and see if the client
								is on board with...</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">Yesterday at 9:56pm</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-chat---messages-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
							</svg>
						</span>
						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
						</div>
					</li>

					<li class="chat-group">
						<div class="author-thumb">
							<img src="/public/img/avatar11-sm.jpg" alt="author">
							<img src="/public/img/avatar12-sm.jpg" alt="author">
							<img src="/public/img/avatar13-sm.jpg" alt="author">
							<img src="/public/img/avatar10-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">You, Faye, Ed &amp; Jet +3</a>
							<span class="last-message-author">Ed:</span>
							<span class="chat-message-item">Yeah! Seems fine by me!</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">March 16th at 10:23am</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-chat---messages-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
							</svg>
						</span>
						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
						</div>
					</li>
				</ul>

				<a href="#" class="view-all bg-purple">View All Messages</a>
			</div>

		</div>

		<div class="tab-pane " id="notification" role="tabpanel">

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Notifications</h6>
					<a href="#">Mark all as read</a>
					<a href="#">Settings</a>
				</div>

				<ul class="notification-list">
					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar62-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new
								<a href="#" class="notification-link">profile status</a>.</div>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">4 hours ago</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-comments-post-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
							</svg>
						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<svg class="olymp-little-delete">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
							</svg>
						</div>
					</li>

					<li class="un-read">
						<div class="author-thumb">
							<img src="/public/img/avatar63-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<div>You and <a href="#" class="h6 notification-friend">Nicholas Grissom</a> just became
								friends. Write on <a href="#" class="notification-link">his wall</a>.</div>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">9 hours ago</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-happy-face-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
							</svg>
						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<svg class="olymp-little-delete">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
							</svg>
						</div>
					</li>

					<li class="with-comment-photo">
						<div class="author-thumb">
							<img src="/public/img/avatar64-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<div><a href="#" class="h6 notification-friend">Sarah Hetfield</a> commented on your <a
									href="#" class="notification-link">photo</a>.</div>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">Yesterday at 5:32am</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-comments-post-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
							</svg>
						</span>

						<div class="comment-photo">
							<img src="/public/img/comment-photo1.jpg" alt="photo">
							<span>“She looks incredible in that outfit! We should see each...”</span>
						</div>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<svg class="olymp-little-delete">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
							</svg>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar65-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<div><a href="#" class="h6 notification-friend">Green Goo Rock</a> invited you to attend to
								his event Goo in <a href="#" class="notification-link">Gotham Bar</a>.</div>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-happy-face-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
							</svg>
						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<svg class="olymp-little-delete">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
							</svg>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar66-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<div><a href="#" class="h6 notification-friend">James Summers</a> commented on your new <a
									href="#" class="notification-link">profile status</a>.</div>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">March 2nd at 8:29pm</time></span>
						</div>
						<span class="notification-icon">
							<svg class="olymp-heart-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
							</svg>
						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<svg class="olymp-little-delete">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
							</svg>
						</div>
					</li>
				</ul>

				<a href="#" class="view-all bg-primary">View All Notifications</a>
			</div>

		</div>

		<div class="tab-pane " id="search" role="tabpanel">


			<form class="search-bar w-search notification-list friend-requests">
				<div class="form-group with-button">
					<input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
				</div>
			</form>


		</div>

	</div>
	<!-- ... end  Tab panes -->

</header>

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>

<script>
	let userChatCount = 0;
	let activeChatIds = [];
	const activeFriendsUser = JSON.parse(localStorage.getItem("user"));
	const friendsIds = [];
	const friends = [];
	const allUserChats = [];

	$(document).ready(function () {
		getFriendsIds();
	});

	function getFriendsIds() {
		firebase
			.database()
			.ref()
			.child("FriendsIds")
			.child(activeFriendsUser.id)
			.once("value")
			.then((friends) => {
				friends.forEach((friend) => {
					friendsIds.push(friend.val());
				});
				getFriendProfile(0);
			})
			.catch((e) => { });
	}

	function getFriendProfile(index) {
		if (index >= friendsIds.length) {
			for (let i = 0; i < friendsIds.length; i++) {
				getFriendChat(i);
			}
			return;
		}
		firebase
			.database()
			.ref()
			.child("Users")
			.child(friendsIds[index])
			.once("value")
			.then((friend) => {
				friends.push(friend.val());
				$("#chatUsers").append(`
					<li class="inline-items js-chat-open" id="friendChat${
					friend.val().id
					}" onclick="openChatBox('${friend.val().id}')">
						<div class="author-thumb">
							<img alt="author" src="${
					friend.val().image
					}" class="avatar" style="width: 40px;">
							<span class="icon-status online"></span>
						</div>
					</li>
				`);
				getFriendProfile(index + 1);
			})
			.catch((e) => {
				getFriendProfile(index + 1);
			});
	}

	function getFriendChat(index) {
		if (index >= friends.length) {
			// console.log("All User Chats Before Return are: ", allUserChats);
			// 			allPosts.sort(function (x, y) {
			//     return x.timeStamps - y.timeStamps;
			//   });

			return;
		}
		const friend = friends[index];
		let chatId = "";
		let count =
			friend.id.length > activeFriendsUser.id.length
				? friend.id.length
				: activeFriendsUser.id.length;

		for (let i = 0; i < count; i++) {
			let fAscii = friend.id.length > i ? friend.id.charCodeAt(i) : 0;
			let uAscii = activeFriendsUser.id.length > i ? activeFriendsUser.id.charCodeAt(i) : 0;
			let asciiSum = fAscii + uAscii;
			chatId = chatId + asciiSum;
		}

		console.log("Chat Id is: ", chatId);
		let chatMessage = null;
		firebase.database().ref().child("Chats").child(chatId).limitToLast(1).on("value", function (messages) {
			messages.forEach(m => {
				if (chatMessage === null) {
					chatMessage = m.val();
				}
				else if (chatMessage !== null && chatMessage.timeStamps < m.val().timeStamps) {
					$(`#headerUserChatBox${friend.id}`).remove();
					chatMessage = m.val();
					if (friend.id === m.val().userId) {
						// Message Received from Friend
						const isChatting = $(".popup-chat-responsive").hasClass("open-chat");
						console.log("Is User chatting: ", isChatting);
						let isFound = true;
						activeChatIds.forEach(fId => {
							if (fId === friend.id) {
								isFound = false;
							}
						});
						if (isFound) {
							userChatCount = userChatCount + 1;
							$("#userChatCount").show(200);
							$("#userChatCount").text(userChatCount);
							activeChatIds.push(friend.id);
						}
						// Apply Sound Setting
						console.log("Header, Final Sound Setting is: ", finalSoundSettings);
						if (
							finalSoundSettings.chatSound === null ||
							finalSoundSettings.chatSound === undefined ||
							finalSoundSettings.chatSound === "on"
						) {
							$("#sound_tag")[0].play();
						}
					}
				}
				console.log("Chat Header, latest message is: ", chatMessage);

				if (chatMessage !== null) {
					const chatContent = `
						<li onclick="openChatBox('${friend.id}')" style="cursor: pointer;" id="headerUserChatBox${friend.id}">
							<div class="author-thumb" style="width: 36px; height: 36px;">
								<img src="${friend.image}" alt="author" style="width: 34px; height: 34px;">
							</div>
							<div class="notification-event">
								<a href="javascript:;" class="h6 notification-friend">${friend.firstName} ${friend.lastName}</a>
								<span class="chat-message-item">${chatMessage.message}</span>
								<span class="notification-date">
									<time class="entry-date updated" datetime="2004-07-24T18:18">${getChatTimeDifference(chatMessage.timeStamps)}</time>
								</span>
							</div>
							<span class="notification-icon">
								<svg class="olymp-chat---messages-icon">
									<use
										xlink:href="/public/svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
									</use>
								</svg>
							</span>
						</li>`;
					const chatEntity = {
						timeStamps: chatMessage.timeStamps,
						chatContent,
					};
					allUserChats.push(chatEntity);
					console.log("All User Chats are: ", allUserChats);
					console.log("Index is: ", index);
					console.log("Friends list is: ", friends.length);
					if (index >= friends.length - 1) {
						console.log("All User Chats Before Return are: ", allUserChats);
						allUserChats.sort(function (x, y) {
							return x.timeStamps - y.timeStamps;
						});
						console.log("All User Sorted Chats Before Return are: ", allUserChats);
						allUserChats.forEach(chat => {
							$("#userChatList").prepend(chat.chatContent);
							$("#allChatsList").prepend(chat.chatContent);
						});
						return;
					}
				}
			});
		});
	}

	function openChatBox(id) {
		console.log("Friend id is: ", id);
		let isFound = false;
		let tempArray = [];
		activeChatIds.forEach(fId => {
			if (id === fId) {
				isFound = true;
			}
			else {
				tempArray.push(fId);
			}
		});
		activeChatIds = [];
		activeChatIds = tempArray;
		if (isFound && userChatCount > 0) {
			userChatCount--;
			$("#userChatCount").text(userChatCount);
		}
		if (userChatCount < 1) {
			$("#userChatCount").hide(100);
		}
		$(".popup-chat-responsive").toggleClass("open-chat");
		$("#friendId").val(id);
		loadFriendDetail(id);
	}

</script>