<% extend ('../../mainLayout')%>

<div class="container">
    <div class="row">

        <!-- Left Sidebar -->
        <main class="col col-xl-2 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
        </main>


        <!-- Main Content -->
        <main class="col col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">Notifications</h6>
                    <a href="javascript:;" onclick="markedAsRead()">Mark all as read</a>
                    <a href="javascript:;">Settings</a>
                </div>

                <ul class="notification-list">
                    <% notifications.forEach(notification=>{%>
                    <li class="<%= notification.read ? "" : "un-read" %>">
                        <div class="author-thumb">
                            <img src="<%= notification.userImg %>" alt="author"
                                onload="loadNotificationTime('<%= notification.id %>', '<%= notification.timeStamps %>')">
                        </div>
                        <div class="notification-event">
                            <div>
                                <% if (notification.userId === user.id ){ %>
                                <a href="/userProfile/profile" class="h6 notification-friend">
                                    <%= notification.userName %>
                                </a>
                                <%} else { %>
                                <a href="/userFriend/friendProfile?id=<%= notification.userId%>"
                                    class="h6 notification-friend">
                                    <%= notification.userName %>
                                </a>
                                <%}%>
                                <%= notification.notificatonText %>
                                <a href="/user/showPost?id=<%= notification.postId%>"
                                    class="notification-link">profile status
                                </a>.
                            </div>
                            <span class="notification-date">
                                <time class="entry-date updated" datetime="<%= notification.timeStamps %>"
                                    id="notificationTime<%= notification.id %>">
                                </time>
                            </span>
                        </div>
                    </li>
                    <%});%>
                </ul>

            </div>
        </main>


        <!-- Right Sidebar -->
        <main class="col col-xl-2 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
        </main>

    </div>
</div>

<script>
    function loadNotificationTime(id, time) {
        let current = moment();
        let postTime = moment.unix(time);
        let hours = current.diff(postTime, "hours", true);
        let minutes = current.diff(postTime, "minutes", true);
        let formattedTime = "";
        if (hours < 23) {
            if (hours >= 1) {
                let finalHour = Math.round(hours);
                formattedTime = "" + finalHour + " hours ago";
            } else {
                let finalMinutes = Math.round(minutes);
                formattedTime = finalMinutes + " minutes ago";
            }
        } else {
            formattedTime = moment(postTime).format("ddd, Do, MMM-YYYY hh:mm A");
        }
        $("#notificationTime" + id).text(formattedTime);
    }
</script>