<% extend ('../../mainLayout')%>

<div class="container">
	<div class="row">

		<!-- Left Sidebar -->
		<main class="col col-xl-2 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
		</main>

		<!-- Main Content -->
		<main class="col col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<!-- News Feed Form  -->
				<div class="news-feed-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab"
								aria-expanded="true">
								<svg class="olymp-status-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-status-icon"></use>
								</svg>
								<span>Status</span>
							</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
							<form id="postStatus">
								<div class="author-thumb">
									<img src="<%= user.image %>" alt="author" style="margin-left: -10px;">
								</div>
								<input type="hidden" name="userId" id="userId" value="<%= user.id %>" />
								<input type="hidden" name="userImg" id="userImg" value="<%= user.image %>" />
								<input type="hidden" name="userName" id="userName"
									value="<%= user.firstName %> <%= user.lastName %>" />
								<input type="hidden" name="url" id="url" />
								<div class="form-group with-icon label-floating is-empty">
									<label class="control-label" style="top: 10px;">Share what you are thinking
										here...</label>
									<textarea id="userContent" class="form-control" placeholder=""></textarea>
								</div>
								<div class="add-options-message" id="imageUpper">
									<div class="row">
										<img id="postImage" class="img-responsive img-thumbnail" />
										<p id="removeImage" class="cross">X</p>
									</div>
									<hr />
								</div>
								<div class="add-options-message">
									<a href="javascript:;" class="options-message" data-toggle="tooltip"
										data-placement="top" data-original-title="ADD PHOTOS">
										<svg class="olymp-camera-icon" data-toggle="modal"
											data-target="#update-header-photo">
											<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-camera-icon">
											</use>
										</svg>
									</a>

									<a href="javascript:;" class="btn btn-sm btn-outline-primary customBtn"
										id="facebookPost">
										Post on Facebook <i class="fab fa-facebook faceBookIcon"></i>
									</a>
									<a href="javascript:;" class="btn btn-sm btn-outline-primary customBtn"
										id="twitterPost">
										Post on Twitter <i class="fab fa-twitter twitterIcon"></i>
									</a>

									<button id="submitPost" type="submit" class="btn btn-primary btn-md-2">Post
										Status</button>
									<a id="previewPost" href="javascript:;"
										class="btn btn-md-2 btn-border-think btn-transparent c-grey customBtn"
										data-toggle="modal" data-target="#preview-post">PREVIEW POST</a>

								</div>

							</form>
						</div>
					</div>
				</div>

				<!-- ... end News Feed Form  -->
			</div>

			<div id="newsfeed-items-grid">

				<div class="ui-block">

					<article class="hentry post video">

						<div class="post__author author vcard inline-items">
							<img src="/public/img/avatar7-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="javascript:;">Marina Valentine</a> shared a <a
									href="javascript:;">link</a>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										March 4 at 2:05pm
									</time>
								</div>
							</div>

							<div class="more"><svg class="olymp-three-dots-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:;">Edit Post</a>
									</li>
									<li>
										<a href="javascript:;">Delete Post</a>
									</li>
									<li>
										<a href="javascript:;">Turn Off Notifications</a>
									</li>
									<li>
										<a href="javascript:;">Select as Featured</a>
									</li>
								</ul>
							</div>

						</div>

						<p>Hey <a href="javascript:;">Cindi</a>, you should really check out this new song by Iron Maid.
							The next
							time they come to the city we should totally go!</p>

						<div class="post-video">
							<div class="video-thumb">
								<img src="/public/img/video-youtube1.jpg" alt="photo">
								<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
									<svg class="olymp-play-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
									</svg>
								</a>
							</div>

							<div class="video-content">
								<a href="javascript:;" class="h4 title">Iron Maid - ChillGroves</a>
								<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor
									incididunt
									ut labore et dolore magna aliqua...
								</p>
								<a href="javascript:;" class="link-site">YOUTUBE.COM</a>
							</div>
						</div>

						<div class="post-additional-info inline-items">

							<a href="javascript:;" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>18</span>
							</a>

							<ul class="friends-harmonic">
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic9.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic10.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic7.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic8.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic11.jpg" alt="friend">
									</a>
								</li>
							</ul>

							<div class="names-people-likes">
								<a href="javascript:;">Jenny</a>, <a href="javascript:;">Robert</a> and
								<br>18 more liked this
							</div>

							<div class="comments-shared">
								<a href="javascript:;" class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon">
										</use>
									</svg>

									<span>0</span>
								</a>

							</div>


						</div>

						<div class="control-block-button post-control-button">

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-like-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
								</svg>
							</a>

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-comments-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-comments-post-icon">
									</use>
								</svg>
							</a>

						</div>

					</article>
				</div>

				<div class="ui-block">


					<article class="hentry post">

						<div class="post__author author vcard inline-items">
							<img src="/public/img/avatar10-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="javascript:;">Elaine Dreyfuss</a>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										9 hours ago
									</time>
								</div>
							</div>

							<div class="more"><svg class="olymp-three-dots-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:;">Edit Post</a>
									</li>
									<li>
										<a href="javascript:;">Delete Post</a>
									</li>
									<li>
										<a href="javascript:;">Turn Off Notifications</a>
									</li>
									<li>
										<a href="javascript:;">Select as Featured</a>
									</li>
								</ul>
							</div>

						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris consequat.
						</p>

						<div class="post-additional-info inline-items">

							<a href="javascript:;" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>24</span>
							</a>

							<ul class="friends-harmonic">
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic7.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic8.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic9.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic10.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic11.jpg" alt="friend">
									</a>
								</li>
							</ul>

							<div class="names-people-likes">
								<a href="javascript:;">You</a>, <a href="javascript:;">Elaine</a> and
								<br>22 more liked this
							</div>


							<div class="comments-shared">
								<a href="javascript:;" class="showPostMyComment post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon">
										</use>
									</svg>
									<span>17</span>
								</a>
							</div>


						</div>

						<div class="control-block-button post-control-button">

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-like-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
								</svg>
							</a>

							<a href="javascript:;" class="btn btn-control showPostMyComment">
								<svg class="olymp-comments-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-comments-post-icon">
									</use>
								</svg>
							</a>
						</div>

					</article>

					<!-- Comments -->

					<ul class="comments-list postComments">
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img src="/public/img/author-page.jpg" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
									<div class="post__date">
										<time class="published" datetime="2004-07-24T18:18">
											38 mins ago
										</time>
									</div>
								</div>

								<a href="javascript:;" class="more"><svg class="olymp-three-dots-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
										</use>
									</svg></a>

							</div>

							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque
								laudantium.</p>

							<a href="javascript:;" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>3</span>
							</a>
							<a href="javascript:;" class="reply">Reply</a>
						</li>
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img src="/public/img/avatar1-sm.jpg" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="javascript:;">Mathilda Brinker</a>
									<div class="post__date">
										<time class="published" datetime="2004-07-24T18:18">
											1 hour ago
										</time>
									</div>
								</div>

								<a href="javascript:;" class="more"><svg class="olymp-three-dots-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
										</use>
									</svg></a>

							</div>

							<p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
								quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in
								reprehenderit in voluptate velit esse cillum.
							</p>

							<a href="javascript:;" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
							<a href="javascript:;" class="reply">Reply</a>
						</li>
					</ul>

					<!-- ... end Comments -->

					<a href="javascript:;" class="postMoreComments more-comments">View more comments <span>+</span></a>


					<!-- Comment Form  -->

					<form class="comment-form inline-items postMyComment">

						<div class="post__author author vcard inline-items">
							<img src="/public/img/author-page.jpg" alt="author">

							<div class="form-group with-icon-right ">
								<textarea class="form-control" placeholder=""></textarea>
								<div class="add-options-message">
									<a href="javascript:;" class="options-message" data-toggle="modal"
										data-target="#update-header-photo">
										<svg class="olymp-camera-icon">
											<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-camera-icon">
											</use>
										</svg>
									</a>
								</div>
							</div>
						</div>

						<button class="btn btn-md-2 btn-primary">Post Comment</button>

						<button
							class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>

					</form>

					<!-- ... end Comment Form  -->
				</div>

				<div class="ui-block">

					<article class="hentry post has-post-thumbnail">

						<div class="post__author author vcard inline-items">
							<img src="/public/img/avatar5-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="javascript:;">Green Goo Rock</a>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										March 8 at 6:42pm
									</time>
								</div>
							</div>

							<div class="more"><svg class="olymp-three-dots-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:;">Edit Post</a>
									</li>
									<li>
										<a href="javascript:;">Delete Post</a>
									</li>
									<li>
										<a href="javascript:;">Turn Off Notifications</a>
									</li>
									<li>
										<a href="javascript:;">Select as Featured</a>
									</li>
								</ul>
							</div>

						</div>

						<p>Hey guys! We are gona be playing this Saturday of <a href="javascript:;">The Marina Bar</a>
							for their
							new Mystic Deer Party.
							If you wanna hang out and have a really good time, come and join us. We’l be waiting for
							you!
						</p>

						<div class="post-thumb">
							<img src="/public/img/post__thumb1.jpg" alt="photo">
						</div>

						<div class="post-additional-info inline-items">

							<a href="javascript:;" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>49</span>
							</a>

							<ul class="friends-harmonic">
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic9.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic10.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic7.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic8.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic11.jpg" alt="friend">
									</a>
								</li>
							</ul>

							<div class="names-people-likes">
								<a href="javascript:;">Jimmy</a>, <a href="javascript:;">Andrea</a> and
								<br>47 more liked this
							</div>


							<div class="comments-shared">
								<a href="javascript:;" class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon">
										</use>
									</svg>
									<span>264</span>
								</a>
							</div>


						</div>

						<div class="control-block-button post-control-button">

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-like-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
								</svg>
							</a>

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-comments-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-comments-post-icon">
									</use>
								</svg>
							</a>
						</div>

					</article>
				</div>

				<div class="ui-block">

					<article class="hentry post has-post-thumbnail">

						<div class="post__author author vcard inline-items">
							<img src="/public/img/avatar3-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="javascript:;">Sarah Hetfield</a>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										March 2 at 9:06am
									</time>
								</div>
							</div>

							<div class="more"><svg class="olymp-three-dots-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:;">Edit Post</a>
									</li>
									<li>
										<a href="javascript:;">Delete Post</a>
									</li>
									<li>
										<a href="javascript:;">Turn Off Notifications</a>
									</li>
									<li>
										<a href="javascript:;">Select as Featured</a>
									</li>
								</ul>
							</div>

						</div>

						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
							mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							accusantium doloremque.
						</p>

						<div class="post-additional-info inline-items">

							<a href="javascript:;" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>0 Likes</span>
							</a>

							<div class="comments-shared">
								<a href="javascript:;" class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon">
										</use>
									</svg>
									<span>0 Comments</span>
								</a>
							</div>


						</div>

						<div class="control-block-button post-control-button">

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-like-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
								</svg>
							</a>

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-comments-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-comments-post-icon">
									</use>
								</svg>
							</a>
						</div>

					</article>
				</div>

				<div class="ui-block">

					<article class="hentry post has-post-thumbnail">

						<div class="post__author author vcard inline-items">
							<img src="/public/img/avatar2-sm.jpg" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="javascript:;">Nicholas Grissom</a>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										March 2 at 8:34am
									</time>
								</div>
							</div>

							<div class="more"><svg class="olymp-three-dots-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:;">Edit Post</a>
									</li>
									<li>
										<a href="javascript:;">Delete Post</a>
									</li>
									<li>
										<a href="javascript:;">Turn Off Notifications</a>
									</li>
									<li>
										<a href="javascript:;">Select as Featured</a>
									</li>
								</ul>
							</div>

						</div>

						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
							mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							accusantium doloremque.
						</p>

						<div class="post-additional-info inline-items">

							<a href="javascript:;" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>22</span>
							</a>

							<ul class="friends-harmonic">
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic9.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic10.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic7.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic8.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/friend-harmonic11.jpg" alt="friend">
									</a>
								</li>
							</ul>

							<div class="names-people-likes">
								<a href="javascript:;">Jimmy</a>, <a href="javascript:;">Andrea</a> and
								<br>47 more liked this
							</div>


							<div class="comments-shared">
								<a href="javascript:;" class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon">
										<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon">
										</use>
									</svg>
									<span>0</span>
								</a>
							</div>
						</div>

						<div class="control-block-button post-control-button">

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-like-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
								</svg>
							</a>

							<a href="javascript:;" class="btn btn-control">
								<svg class="olymp-comments-post-icon">
									<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-comments-post-icon">
									</use>
								</svg>
							</a>
						</div>

					</article>
				</div>

			</div>

			<a id="load-more-button" href="javascript:;" class="btn btn-control btn-more"
				data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg
					class="olymp-three-dots-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg></a>

		</main>

		<!-- ... end Main Content -->


		<!-- Right Sidebar -->
		<main class="col col-xl-2 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
		</main>


	</div>
</div>


<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo"
	aria-hidden="true">
	<div class="modal-dialog window-popup update-header-photo" role="document">
		<div class="modal-content">
			<a href="javascript:;" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Update Header Photo</h6>
			</div>

			<div class="modal-body">
				<input type="file" id="photoUpload" style="display: none;" accept="image/*, video/*" />
				<a id="photoUploadIcon" href="javascript:;" class="upload-photo-item">
					<svg class="olymp-computer-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
					</svg>
					<h6>Upload Photo</h6>
					<span>Browse your computer.</span>
				</a>

				<a href="javascript:;" class="upload-photo-item" data-toggle="modal"
					data-target="#choose-from-my-photo">

					<svg class="olymp-photos-icon">
						<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
					</svg>

					<h6>Choose from My Photos</h6>
					<span>Choose from your uploaded photos</span>
				</a>
			</div>
		</div>
	</div>
</div>


<!-- ... end Window-popup Update Header Photo -->

<!-- Window-popup Choose from my Photo -->

<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo"
	aria-hidden="true">
	<div class="modal-dialog window-popup choose-from-my-photo" role="document">

		<div class="modal-content">
			<a href="javascript:;" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>
			<div class="modal-header">
				<h6 class="title">Choose from My Photos</h6>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
							<svg class="olymp-photos-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
							</svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
							<svg class="olymp-albums-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-albums-icon"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>

			<div class="modal-body">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo1.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo2.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo3.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>

						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo4.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo5.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo6.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>

						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo7.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo8.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="/public/img/choose-photo9.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>


						<a href="javascript:;" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
						<a href="javascript:;" class="btn btn-primary btn-lg btn--half-width">Confirm Photo</a>

					</div>
					<div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">

						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo10.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">South America Vacations</a>
									<span>Last Added: 2 hours ago</span>
								</figcaption>
							</figure>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo11.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">Photoshoot Summer 2016</a>
									<span>Last Added: 5 weeks ago</span>
								</figcaption>
							</figure>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo12.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">Amazing Street Food</a>
									<span>Last Added: 6 mins ago</span>
								</figcaption>
							</figure>
						</div>

						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo13.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">Graffity & Street Art</a>
									<span>Last Added: 16 hours ago</span>
								</figcaption>
							</figure>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo14.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">Amazing Landscapes</a>
									<span>Last Added: 13 mins ago</span>
								</figcaption>
							</figure>
						</div>
						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="/public/img/choose-photo15.jpg" alt="photo">
								<figcaption>
									<a href="javascript:;">The Majestic Canyon</a>
									<span>Last Added: 57 mins ago</span>
								</figcaption>
							</figure>
						</div>


						<a href="javascript:;" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
						<a href="javascript:;" class="btn btn-primary btn-lg disabled btn--half-width">Confirm Photo</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- ... end Window-popup Choose from my Photo -->


<a class="back-to-top" href="javascript:;">
	<img src="/public/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>


<!-- Window-popup-CHAT for responsive min-width: 768px -->

<!-- <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
	aria-labelledby="popup-chat-responsive" aria-hidden="true">

	<div class="modal-content">
		<div class="modal-header">
			<span class="icon-status online"></span>
			<h6 class="title">Chat</h6>
			<div class="more">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
				<svg class="olymp-little-delete js-chat-open">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
				</svg>
			</div>
		</div>
		<div class="modal-body">
			<div class="mCustomScrollbar">
				<ul class="notification-list chat-message chat-message-field">
					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m
								gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/public/img/author-page.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Don’t worry Mathilda!</span>
							<span class="chat-message-item">I already bought everything</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/public/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m
								gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated"
									datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>
				</ul>
			</div>

			<form class="need-validation">

				<div class="form-group">
					<textarea class="form-control" placeholder="Press enter to post..."></textarea>
					<div class="add-options-message">
						<a href="javascript:;" class="options-message">
							<svg class="olymp-computer-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
							</svg>
						</a>
						<div class="options-message smile-block">

							<svg class="olymp-happy-sticker-icon">
								<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
							</svg>

							<ul class="more-dropdown more-with-triangle triangle-bottom-right">
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat1.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat2.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat3.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat4.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat5.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat6.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat7.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat8.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat9.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat10.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat11.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat12.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat13.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat14.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat15.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat16.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat17.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat18.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat19.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat20.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat21.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat22.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat23.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat24.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat25.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat26.png" alt="icon">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/public/img/icon-chat27.png" alt="icon">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>

</div> -->


<!-- Window-popup Prweview Post -->

<div class="modal fade" id="preview-post" tabindex="-1" role="dialog" aria-labelledby="preview-post" aria-hidden="true">
	<div class="modal-dialog window-popup restore-password-popup" role="document">
		<div class="modal-content">
			<a href="javascript:;" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="/public/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>

			<div class="modal-header">
				<h6 class="title">POST PREVIEW</h6>
			</div>

			<div class="modal-body">
				<div class="ui-block">

					<article class="hentry post">

						<div class="post__author author vcard inline-items">
							<img src="<%= user.image %>" alt="author">

							<div class="author-date">
								<a class="h6 post__author-name fn" href="javascript:;"><%= user.firstName %>
									<%= user.lastName %>
								</a>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										Just now
									</time>
								</div>
							</div>
						</div>
						<img id="previewImage">
						<p id="postText"></p>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Window-popup Preview post -->

<script src="/public/js/newsfeed.js"></script>
<script src="/public/js/postStatus.js"></script>